{% extends 'base.html.twig' %}

{% block title %}InaWay{% endblock %}
{% block js_page %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Hello</h1>
{% endblock %}